<%- include("head", locals) %>

<body>
    <%- include("header", locals) %>
    <div class="container bg">
        <h1>Pending Packages</h1>
        <h2>By Maintainer</h2>
        <ul>
            <% maintainers && maintainers.forEach(m => { %>
            <li><a href="/maintainer/<%= m %>"><%= m %></a></li>
            <% }); %>
            <li><a href="/maintainer/orphan">Orphan Packages</a></li>
        </ul>
        <h2>All Pending (<%= (packages && packages.length) || 0 %> packages)</h2>
        <table>
            <tr>
                <th>Package</th>
                <th>Action</th>
            </tr>
            <% packages && packages.forEach(p => { %>
            <tr>
                <td><a href="<%= p.url %>"><%= p.package %></a></td>
                <td><%= p.action %></td>
            </tr>
            <% }); %>
        </table>
    </div>
    <%- include("footer", locals) %>
</body>