<%- include("head", locals) %>

<body>
    <%- include("header", locals) %>
    <div class="container bg">
        <% if (maintainer === 'orphan') { %>
        <h1>Orphaned Packages with Pending Operations</h1>
        <p>
            There are <a href="https://gitea.artixlinux.org/explore/repos?q=<%= maintainer %>&topic=1"><%= packagesOwned %> packages</a> without a maintainer.
        </p>
        <% } else { %>
        <h1><%= maintainer %>'s Operations</h1>
        <p>
            <%= maintainer %> owns <a href="https://gitea.artixlinux.org/explore/repos?q=maintainer-<%= maintainer %>&topic=1"><%= packagesOwned %> packages</a>.
        </p>
        <% } %>
        <p>
            <%= (packages && packages.length) || 0 %> of which require attention.
        </p>
        <table>
            <tr>
                <th>Package</th>
                <th>Action</th>
            </tr>
            <% packages && packages.forEach(p => { %>
            <tr>
                <td><a href="<%= p.url %>"><%= p.package.package %></a></td>
                <td><%= p.action %></td>
            </tr>
            <% }); %>
        </table>
    </div>
    <%- include("footer", locals) %>
</body>